@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}
html {

    scroll-behavior: smooth;
    background-color:#272727;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

    &__title {
        color: #ffffff;
        font-size: 8rem;
        letter-spacing: .1em;
    }

    
}
.btn {
    position: relative;
    background-color: #272727;
    padding: .3em 1em;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    outline: none;
    &:before, &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        height: calc(100% + 4px);
        width:  calc(100% + 4px);
        background: $rainbow-deg;
        background-size: 400%;
        z-index: -1;

        transition: 0.3s;
        animation: rainbow 20s linear infinite;
    }
    &:after {
        filter: blur(10px);
    }

    &:hover,&:focus,&:active {
        &:before, &:after {
            filter: blur(20px);
        }
        cursor: pointer;
        animation: text 2s linear infinite;
    }
}
@keyframes text {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.sticky {
    display: flex;
    width: 100%;
    position: relative;

    &__item {
        position: sticky;
        top: 0;
        width: (100% / 12);
        height: 100vh;
        background-color: #fe00fe;

        @for $i from 1 to 13 {
            &:nth-child(#{$i + 1}) {
                margin-top: calc(50vh * #{$i + 1})
            }
        }
    }
}
.text {
    position: relative;
    background: $rainbow;
    display: flex;
    justify-content: center;

    &__item {
        position: sticky;
        top: 0;
        color: #ffffff;
        font-size: 5em;
        line-height: 100vh;
        height: 100vh;
        letter-spacing: .1em;

        text-shadow: 2px 2px 10px #000;
        @for $i from 1 to 13 {
            &:nth-child(#{$i + 1}) {
                margin-top: calc(50vh * #{$i + 1})
            }
        }
    }
}

.footer {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: #fff;
        font-size: 3em;
        letter-spacing: .1em;
        line-height: 3em;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #f900fe, #3300fe);
  }